
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");
@media (min-width: 993px) {
  .modal__content-header {
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #74a661;
    padding-bottom: 0px;
    align-items: center;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 260px;
  }

  .modal__content-main-text {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 900;
    text-align: justify;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
  }
  .modal-header {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
  }
  .modal__content-main {
    background: #8ebc7c;
    display: flex;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 320px;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    border-radius: 7px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    height: 345px;
    width: 700px;
  }
  .modal-btn-flex {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding-bottom: 25px;
  }
  .button-card {
    font-family: "Steppe";
    font-size: 17px;
    line-height: 19px;
    color: black;
    width: 270px;
    height: 60px;
    background-color: white;
  }
  .button-modal {
    color: white;
    padding: 15px 30px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    background-color: #507f3f;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
  }
  .modal__content-main-ageCheck {
    height: 280px;
    background-color: #d2b552;
  }
  .modal__content-header-ageCheck {
    background-color: #766528;
  }
  .modal-ageCheck {
    height: 300px;
  }
  .button-card-ageCheck {
    background-color: #b59a37;
    border-radius: 10px;
    font-weight: 600;
    width: 200px;
    height: 50px;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .modal__content-header {
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #74a661;
    align-items: center;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 200px;
  }
  .modal__content-main-text {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 19px;
    font-weight: 900;
    text-align: justify;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
  }
  .modal-header {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-left: 20px;
  }
  .modal__content-main {
    background: #8ebc7c;
    display: flex;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 320px;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    border-radius: 7px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    height: 245px;
    width: 600px;
  }
  .modal-btn-flex {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding-bottom: 45px;
  }
  .button-card {
    font-family: "Steppe";
    font-size: 15px;
    color: black;
    width: 230px;
    height: 50px;
  }
  .button-modal {
    color: white;
    padding: 15px 30px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    background-color: #507f3f;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
  }
  .modal__content-main-ageCheck {
    height: 250px;
    background-color: #d2b552;
  }
  .modal__content-header-ageCheck {
    background-color: #766528;
  }
  .modal-ageCheck {
    height: 300px;
  }
  .button-card-ageCheck {
    background-color: #b59a37;
    border-radius: 10px;
    font-weight: 600;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .modal__content-header {
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: #74a661;
    padding-bottom: 0px;
    align-items: center;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .modal__content-main-text {
    font-family: "Nunito Sans", sans-serif;
    color: black;
    font-size: 19px;
    font-weight: 900;
    text-align: justify;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 25px;
  }
  .modal-header {
    color: white;
    font-size: 28px;
    font-weight: 600;
    margin-left: 40px;
  
  }
  .modal-header-ageCheck{
  margin-left: 0px;
  }
  .modal__content-main {
    background: #8ebc7c;
    display: flex;
    border-radius: 7px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-height: 300px;
    flex-direction: column;
    justify-content: space-around;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    border-radius: 7px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    z-index: 2;
    min-width: 350px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .modal-btn-flex {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .button-card {
    font-family: "Steppe";
    font-size: 15px;
    color: black;
    width: 230px;
    height: 50px;
  }
  .button-modal {
    color: white;
    padding: 15px 30px;
    height: 50px;
    border: none;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    background-color: #507f3f;
    border-radius: 4px;
    font-weight: 900;
    cursor: pointer;
  }
  .modal__content-main-ageCheck {
    
    background-color: #d2b552;
    min-height: 210px;
  }
  .modal__content-header-ageCheck {
    background-color: #766528;
    justify-content: center;
  }

  .button-card-ageCheck {
    background-color: #b59a37;
    border-radius: 10px;
    font-weight: 600;
    min-width: 140px;
    max-width: 160px;
    font-size: 14px;
  }
}
