@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@media (min-width: 993px) {
  .footer {
    background: #84a178;
    min-height: 220px;
    width: auto;
    min-width: 1460px;
    padding-top: 40px;
  }
  .footer-product-page {
    background: none;
    padding-top: 205px;
    min-width: 0;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .footer-description-gutzul {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    width: 504px;
  }

  .footer-bottom {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7a7a7a;
    text-align: center;
  }
  .icon-contact-gutzul {
    margin-right: 30px;
    width: 30px;
    margin-left: 4px;
    margin-top: 3px;
  }
  .bottom-line-footer {
    border: 1px solid #e1e1e1;
    margin-top: 55px;
    margin-bottom: 15px;
  }
  .rectangle-for-icons-contact {
    width: 40px;
    height: 40px;
  }
  .href-contacts {
    position: absolute;
  }
  .contact-gutzul {
    display: flex;
  }
  .flex-icons-footer {
    padding-bottom: 0px;
    justify-content: space-between;
    margin-right: 30px;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .footer {
    background: #84a178;
    min-height: 220px;
    width: auto;
    padding-top: 40px;
  }
  .footer-product-page {
    background: none;
    padding-top: 185px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
  }
  .footer-description-gutzul {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    width: 504px;
  }

  .footer-bottom {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7a7a7a;
    text-align: center;
  }
  .icon-contact-gutzul {
    margin-right: 30px;
    width: 30px;
    margin-left: 4px;
  }
  .bottom-line-footer {
    border: 1px solid #e1e1e1;
    margin-top: 55px;
    margin-bottom: 15px;
  }
  .rectangle-for-icons-contact {
    width: 40px;
    height: 40px;
  }
  .href-contacts {
    position: absolute;
  }
  .contact-gutzul {
    display: flex;
  }
  .flex-icons-footer {
    padding-bottom: 0px;
    justify-content: space-between;
    margin-right: 30px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .footer {
    background: #84a178;
    min-height: 220px;
    width: auto;
    padding-top: 40px;
  }
  .footer-product-page {
    background: none;
    padding-top: 185px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    align-items: center;
  }
  .footer-description-gutzul {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    width: 504px;
  }

  .footer-bottom {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.02em;
    color: #7a7a7a;
    text-align: center;
  }
  .icon-contact-gutzul {
    margin-right: 30px;
    width: 30px;
    margin-left: 4px;
  }
  .bottom-line-footer {
    border: 1px solid #e1e1e1;
    margin-top: 55px;
    margin-bottom: 15px;
  }
  .rectangle-for-icons-contact {
    width: 40px;
    height: 40px;
  }
  .href-contacts {
    position: absolute;
    padding-left: 1px;
  }
  .icon-contact-gutzul-telegram{
    // position: absolute;
    margin-left: 2.5px;
  }
  .contact-gutzul {
    display: flex;
  }
  .flex-icons-footer {
    padding-bottom: 0px;
    justify-content: space-between;
    margin-right: 30px;
  }
}
